@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Circular Std';
  src: url('./circular-std-medium-500.ttf');
}

:root {
  --primary: #46B8C8;
  --secondary: #FB8958;
}

body {
  font-family: 'Circular Std';
}

.subscribe-input {
  font-size: 18px;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: white;
  color: black;
}

.footer-title {
  font-size: 18px;
  margin-bottom: 24px;
}